
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$baselinePurple: #161748;
$bluewater_lowlight: #39a0ca;
$icecold: #a0d2eb;
$mediumPurple: #d0bdf4;
$purplePain: #8458B3;
$greysilver: #bccbde;
$sofGold: #d1bfa7;
$onix: #49494b;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}